<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card rounded shadow w-auto">
        <div class="card-body">
            <div class="card-title pb-2">
                <h1 class="display-1 text-center">edicion-Editar</h1>
            </div>
            <div class="card-text">
                <form class="row row-cols-lg-auto g-3 align-items-center justify-content-center"
                    action="/ALEC/edit_edicion/{{edicion._id}}" method="post">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">ISBN</div>
                            <input type="number" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="1234" name="ISBN" value="{{edicion.ISBN}}" autofocus>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Titulo</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Los tres tigres" name="titulo" value="{{edicion.titulo}}">
                        </div>
                    </div>
                     <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Año</div>
                            <input type="number" min="1900" max="2022" step="1" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="2021" name="year" value="{{edicion.year}}">
                        </div>
                    </div>
                     <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Idioma</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Español" name="idioma" value="{{edicion.idioma}}">
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>